/*Contenedor Chat y Amigos*/

#contenedor{
    padding:0;
    background-color: #FFF; 
    box-shadow: 0 10px 20px #00000034, 0 6px 6px #00000034;
    height: 700px;
    display: flex;
    flex-direction: row;

    border: 2px solid #95a5a6;
    border-radius: 20px;
}

/*Estilos Buscador de amigos, Amigos conectados/ausente/offline*/

#chats{
    width: 35%;
    height: 700px;
    box-shadow: 0px 8px 10px #00000034;
    overflow: hidden;
    background-color: #FFF;
    display: inline-block;
    border-radius: 20px 0px 0px 20px;
}

#chats_todos{
    overflow: hidden;
    overflow-y: scroll;
    height: 85%;
}

#chat_buscar{
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #95a5a6;
    height: 10%;
}

/*Estilos Buscador de amigos*/

#barra_de_busqueda{
    height: 40px;
    width: 60%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #EEEEEE;
    background-color: white;
    display:flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

#barra_de_busqueda input{
    margin-left: 15px;
    height:38px;
    width:100%;
    border:none;
    font-family: Verdana;
}

#barra_de_busqueda img{
    height: 30px;
    width: 30px;
}

/*Estilo contenedor Amigos conectados/ausente/offline*/

.contenedor-chats{
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    align-items: center;
    border-bottom: solid 2px #ffffff;
}

/*Estilos Amigos conectados/ausente/offline*/

#mensaje_activo{
    width: 98.5%;
    border-right: 5px solid #6fe496;
}

.foto-perfil {
    margin-left:20px;
    width: 45px;
    height: 45px;
    border-radius: 20%;
    background-image: url(../Multimedia/foto-perfil.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.online {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}

.offline {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #797979;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}

.ausente{
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #ffac3e;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}

/*.descripcion {
    height: 43px;
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}*/

.nombre{
    margin: 0 0 0 20px;
    font-family:Verdana;
    font-size: 11pt;
    
}

.mensaje{
    margin: 6px 0 0 20px;
    font-family:Verdana;
    font-size: 9pt;
    
}

.hora {
    align-self: flex-end;
    font-family:'Open Sans', sans-serif;
    margin-left: 10px;
    font-size: 11px;
    padding: 3px 8px;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
}

/*Opciones Chat Buscar*/

#opciones_chat_buscar{
    display: flex;
    flex-direction: row;
    height: 5%;
}
#opciones_chat_buscar button{
    height: 100%;
    width: 50%;
    border: 1px solid gray;
}

#añadir_amigo{
    background-image: url(../Multimedia/icono-perfil.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#configuracion_chat{
    background-image: url(../Multimedia/icono-config.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#opciones_chat_buscar button:hover {
    background-color: lightgray;
}

/*Estilo Contenedor Chat*/

#chat {
    width: 65%;
}

/*Estilo Cabecera Chat*/

#cabecera_chat{
    height: 10%;
    width: 100%;
    box-shadow: 0px 3px 2px #00000034;
    display:flex;
    align-items: center;
    
}

.icono{
    margin-left: 30px;
    font-size: 14pt;
}

#nombre_cabecera{
    margin-left: 20px;
    font-family:Verdana;
    font-size: 13pt;
}

/*#hmb{
    
}*/

#hamburguesa{
    display: none;
}

#img_chat_cabecera {
    margin-left:20px;
    width: 45px;
    height: 45px;
    border-radius: 20%;
    background-image: url(../Multimedia/foto-perfil.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Estilo Conversación Chat*/
#chats_mensajes{
    height: 80%;
}
.img_conversacion{
    margin-top: 10px;
    width: 45px;
    height: 45px;
    border-radius: 20%;
    background-image: url(../Multimedia/foto-perfil.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.conversacion{
    padding: 25px 35px;
}

.mensaje{
    display:flex;
    align-items: center;
    margin-bottom: 8px;
}

.mensaje_chat{
    margin: 0 35px;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    background-color: beige;
    color: black;
}

.mensaje_sin_foto{
    margin-left: 65px;
}
.hora_chat{
    font-size: 10px;
    margin-bottom:10px;
    margin-left: 115px;
}

.respuesta{
    margin-right: 0px;
    margin-left:auto;
}

.hora_respuesta{
    float: right;
    margin-right: 50px ;
}

.respuesta .mensaje_chat{
    background-color: #e3effd;
}

/*Barra chat*/
#barra_chat{
    width: 100%;
    height: 10%;
    display:flex;
    align-items: center;
    background-color: transparent;
    border-top: 2px solid #EEE;
    border-radius:  0px 20px 20px 0px;
}

#icono_barra_chat{
    margin-left: 30px;
    width: 25px;
    height: 25px;
    color:#C0C0C0;
    font-size: 14pt;
    border-top: 1px ;
    background-image: url(../Multimedia/icono-clip-verde.png);
    background-size: cover;
    transform:rotateY(180deg);
    cursor: pointer;
}

#boton_chat{
    padding: 12px 12px 12px 12px;
    border-radius: 15px;
    border: 1px gray solid;
    width: 10%;
    height: 40px;
    background-color: #70da55; 
    cursor: pointer;   
    margin-left: 5px;
    text-align: left;
    text-indent: -10px;
    font-weight: bold;

    color: Black;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#boton_chat img{
    width: 25px;
    height: 25px;
    position:absolute;
    right: 10px;
    top:4px;
}

#escribir_chat{
    border:none;
    border-radius: 15px;
    width:75%;
    height: 15px;
    margin-left: 20px;
    padding: 10px;
}

#boton_chat:hover {
    color: #fff;
}
#boton_chat::after {
    content: "";
    background: green;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    border-radius: 50px;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
}
#boton_chat:hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
}



@media (max-width:1360px){
    button img{
        display: none;
    }
}

@media (max-width:900px){
    #icono_barra_chat{
        margin-left: 30px;
        width: 20px;
        height: 20px;
        color:#C0C0C0;
        font-size: 14pt;
        border-top: 1px ;
        background-image: url(../Multimedia/icono-clip-verde.png);
        background-size: cover;
        transform:rotateY(180deg);
        cursor: pointer;
    }
    #chats_mensajes{
        overflow: hidden;
        overflow-y: scroll;
    }

    button span{
        display: none;
    }
    button img{
        display: block;
    }
    .img_conversacion,.foto-perfil{
        display: none;
    }
    .descripcion {
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .hora{
        margin-left: 0px;
    }
    .mensaje_sin_foto > .mensaje_chat{
        margin-left: 0;
        align-self: left;
    }
}