@font-face {
    font-family: Librefranklin-thin;
    src: url(./fonts/LibreFranklin-Thin.ttf);
}
@font-face {
    font-family: Librefranklin-bold;
    src: url(./fonts/LibreFranklin-Bold.ttf);
}
#Encabezado {
    display: flex;
    border: 1px solid #121111;
    padding: 0;
    align-items: center;
    justify-content: center;
}

nav {
    color:#121111;
    font-size: 30px;
    padding-bottom: 5px;
    border:1px solid #000000;
    background-color:#ffffff;
    text-align: center;
    padding: 0;
}

nav li {
    display: inline;
    list-style: none;
    padding: 10px;
    font: bold 14px verdana;
    cursor: default;
}
nav ul {
    padding: 0;
}
nav a {
    text-decoration: none;
}

nav a:hover { 
    color: rgb(43, 223, 226);
}
.topboton{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 55px;
    background: white;
    border-bottom: 1px solid rgb(220, 220, 220);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
.topboton nav ul{
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;  
    overflow: hidden;
    list-style-type: none;
}
.topboton nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    margin: 0 10px;
    float: left;
}
.topboton nav ul li a{
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}
.img1{
    font-size: 20px;
    margin: 0 18px;
    align-self: center;
     width: 30px;
    height: 30px;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 250px;
}
.logo img{
    display: block;
    width: 250px;
    height: 250px;
}
#midboton{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#midboton ul{
    display: flex;
    list-style-type: none;

}
#midboton ul li{
    margin: 0 5px;
}
#midboton ul li a{
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}
#today-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.line{
    width: 100%;
    border-bottom: 1px solid gray;
}
#date{
    flex-shrink: 0;
    font-family: sans-serif;
}
.container{
    width: 900px;
    margin: 0 auto;
}
#boton-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    color: gray;
    border-bottom: 1px solid lightgrey;
}
#boton-buttons ul{
    padding: 0;
    display: flex;
    list-style: none;
}
#boton-buttons ul li{
    margin: 0 15px;
}
#boton-buttons ul li a{
    color: grey;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
}
.news-block {
    display: flex;
    width: 100%;
}
#left-block{
    width: 64%;
}
#right-block{
    width: 34%;
}
#news h1{
    margin: 25px 0 20px 0;
    font-family: Librefranklin-bold;
    font-size: 40px;
}
#news p{
    font-size: 20px;
    font-family: Librefranklin-thin;
    color: gray;
    flex-grow: 1;
}
#news figure{
    margin: 0;
    position: relative;
    margin-bottom: 5px;
}
#news figure img{
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}
#news figure figcaption{
    width: auto;
    padding: 15px;
    border-radius: 5px;
    font-family: Librefranklin-bold;
    background: rgba(0, 0, 0, 0.6);

    position: absolute;
    bottom: 25px;
    left: 15px;
}
#news figure:hover figcaption{
    background: black;
}
#news figure figcaption span{
    color: white;
}
#news article{
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    height: 100%;
}
#left-block article{
    height: 100%;
}
#right-block article{
    height: 50%;
}
#news h2{
    color:black;
    font-family: Librefranklin-thin;
    font-size: 24px;
}
footer{
    display: flex;
    flex-direction: column;
    min-width: 900px;
    width: 100%;
    background: rgb(245, 245, 245);

    height: 500px;
}
footer .topbar{
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    position: relative;
}
footer .topbar img{
    width: 150px;
}
footer .topbar .rrss{
    position: absolute;
    left: 25px;
    top: 17px;
}
footer .topbar .rrss .a{
    text-decoration: none;
}
footer .topbar .rrss img{
    margin-right: 12px;
    font-size: 22px;
    width: 30px;
    height: 30px;
}
footer .sitemap{
    display: flex;
    width: 100%;
}
footer .sitemap .col{
    width: 25%;
    padding-left: 25px;
}
footer .sitemap ul{
    padding: 0;
    list-style-type: none;
}
footer .sitemap ul li{
    font-family: sans-serif;
    font-size: 14px;
    margin: 0 0 15px;
}
footer .sitemap ul li span{
    color: rgb(60, 60, 60);
    font-family: Librefranklin-bold;
}
footer .sitemap ul li a{
    color: grey;
    text-decoration: none;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(60, 60, 60);
}